button.wallet-adapter-button-trigger {
  cursor: pointer;
  color: white !important;
  border: none !important;
  background-color: #f797ee !important;
  padding: 15px 15px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet-adapter-dropdown{
  width: 80%;
}

button.wallet-adapter-button-trigger:hover {
  background-color: white !important;
  color: #f797ee !important;
}

button.button {
  cursor: pointer;
  color: white !important;
  border: none !important;
  border-radius: 5% !important;
  background-color: #f797ee !important;
  padding: 15px 10px;
  font-size: 15px;
  font-weight: bold;
}

button.button:disabled{
  background-color: gray !important;
}

button.button:disabled:hover{
  background-color: gray !important;
  color: white !important;
}

button.button:hover {
  background-color: white !important;
  color: #f797ee !important;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  width: 100%;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.popup button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background: #f797ee;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup button:hover {
  background: #f797ee;
}

body {
  width: 400px;
  height: 100%;
  /*use media to set it to different sizes based on device screen*/
}

#__next{
  height: 100%;
}

/* Ensure the full height is used and centered vertically */
html {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#ffffff, #dfdfdf);
  height: 100%;
}

h1 {
  border: none;
  padding: 0;
  margin: 0;
}